#dash-board{
    background-color: rgb(74, 185, 219);
    font-size: 50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0px;
    margin-top:0px;
}
.list-group{
    position: absolute;
    height: auto;
    max-height: 100%;
    width: 50%;
    max-width: 40%;
}
.card-body2{
    position: fixed;
    padding-left: 0px;
    
}
.card-body1{
    float: right;
    height: auto;
    max-height: 100%;
    width: 50%;
    max-width: 40%;
}